<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >
    <link
      rel="shortcut icon"
      href="/img/creeper-face.png"
      type="image/x-icon"
    >
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    >
    <link
      rel="stylesheet"
      href="/css/shared.css"
    >
    <link
      rel="stylesheet"
      href="/css/auth.css"
    >
    <title>Creeper Pay</title>
  </head>

  <body>
    {{>header}}

    <main class="auth__container container valign-wrapper">
      <div class="row">
        <form
          id="login-form"
          class="col s12 m6 offset-m3"
        >
          {{!-- Card component --}}
          <div class="card z-depth-2">
            <div class="card-content">
              <span class="card-title center-align black-text">Login</span>
              {{!-- Email --}}
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">alternate_email</i>
                  <input
                    id="email"
                    type="email"
                    class="validate"
                    required
                  >
                  <label for="email">Email</label>
                </div>
              </div>
              {{!-- Password --}}
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">vpn_key</i>
                  <input
                    id="password"
                    type="password"
                    class="validate"
                    required
                  >
                  <label for="password">Password</label>
                </div>
              </div>
            </div>
            <div class="card-action center-align">
              <button
                id="login-button"
                class="btn waves-effect waves-light green darken2"
                type="submit"
                name="action"
              >Login
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>

    {{>footer}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>

    <script src="/scripts/validator/validator.min.js"></script>

    <script src="/js/firebase.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/login.js"></script>
  </body>

</html>