<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >
    <link
      rel="shortcut icon"
      href="/img/creeper-face.png"
      type="image/x-icon"
    >
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    >
    <link
      rel="stylesheet"
      href="/css/shared.css"
    >
    <link
      rel="stylesheet"
      href="/css/form.css"
    >
    <title>Creeper Pay</title>
  </head>

  <body>
    {{>header}}

    <main class="form__container container valign-wrapper">
      <div class="row">
        <div
          id="loader-wrapper"
          class="col s12 m6 offset-m3 center-align"
        >
          {{>loader}}
        </div>
        <div
          id="content"
          class="col s12 m6 offset-m3 hide"
        >
          <form id="signup-form">
            {{!-- Card component --}}
            <div class="card z-depth-2">
              <div class="card-content">
                <span class="card-title center-align black-text">Signup</span>
                {{!-- Username --}}
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input
                      id="username"
                      name="username"
                      type="text"
                      class="validate"
                      required
                      minlength="3"
                    >
                    <label
                      class="active"
                      for="username"
                    >Username</label>
                    <span
                      id="username-helper-text"
                      class="helper-text"
                    >Remember! Must be the same as your minecraft username!</span>
                  </div>
                </div>
                {{!-- Email --}}
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">alternate_email</i>
                    <input
                      id="email"
                      name="email"
                      type="email"
                      class="validate"
                      required
                    >
                    <label
                      class="active"
                      for="email"
                    >Email</label>
                    <span
                      id="email-helper-text"
                      class="helper-text"
                    ></span>
                  </div>
                </div>
                {{!-- Password --}}
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input
                      id="password"
                      name="password"
                      type="password"
                      class="validate"
                      minlength="6"
                      required
                    >
                    <label
                      class="active"
                      for="password"
                    >Password</label>
                    <span
                      id="password-helper-text"
                      class="helper-text"
                    ></span>
                  </div>
                </div>
              </div>
              <div class="card-action center-align">
                <button
                  id="submit-button"
                  name="submit-button"
                  class="btn waves-effect waves-light green darken2"
                  type="submit"
                >
                  Signup
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
    </main>

    {{>footer}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>

    <script src="/js/utils.js"></script>
    <script src="/js/shared.js"></script>
    <script src="/js/signup.js"></script>
  </body>

</html>