<div
  id="confirmation-modal"
  class="modal modal-fixed-footer"
>
  <div class="modal-content center-align">
    <h4>{{modalHeader}}</h4>
    <p>{{modalText}}</p>
    <img
      class="responsive-img"
      src="{{modalImg}}"
    >
  </div>
  <div class="modal-footer">
    <button
      id="confirmation-modal-accept-button"
      name="accept-button"
      class="btn waves-effect waves-light green darken2 right modal-action modal-close"
      type="click"
    >
      Confirm
    </button>
    <button
      id="confirmation-modal-cancel-button"
      name="cancel-button"
      class="btn waves-effect waves-light red darken2 left modal-action modal-close"
      type="click"
    >
      Cancel
    </button>
  </div>
</div>