<footer class="footer__container page-footer green darken-2">
  <div class="footer-copyright">
    <div class="container center-align">
      Copyright © 2020 Crepper Pay. All rights reserved - Made with love ❤️
    </div>
  </div>
</footer>