{{#if unauthenticated}}
<li>
  <a
    class="flow-text"
    href="/views/auth/login"
  >
    Login
  </a>
</li>
<li class="divider"></li>
<li>
  <a
    class="flow-text"
    href="/views/auth/signup"
  >
    Signup
  </a>
</li>
{{/if}}