<li>
  <a
    class="flow-text"
    href="/views/auth/login"
  >
    <h5>Login</h5>
  </a>
</li>
<li class="divider"></li>
<li>
  <a
    class="flow-text"
    href="/views/auth/signup"
  >
    <h5>Signup</h5>
  </a>
</li>