.form__container .row {
  margin-bottom: 0;
}

.form__container .card {
  background-color: rgba(255, 255, 255, 0.85);
}

.form__container .card-action {
  border: 0;
  background-color: transparent;
}
