.card-title {
  margin-bottom: 0 !important;
}

.card-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-action button {
  min-width: 25%;
  margin-bottom: 0 !important;
}
