body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.row {
  height: 100%;
}

.error-container > .row {
  margin-bottom: 0;
}

a.brand-logo {
  background-image: linear-gradient(transparent, transparent),
    url(/img/creeper-face.png);
  background-position: center center;
  background-repeat: no-repeat;
  background: url(/img/creeper-face.png);
  background-size: cover;
  max-height: 100%;
  height: 50px;
  width: 50px;
}

.page-footer {
  padding: 0px;
}

.error-title {
  font-size: 10vh;
}
